#header {
	color: white;
	font-family: Arial;
	height: 80px;
	text-align: center;
	background-color: chocolate;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}


#sticky {
	position: fixed;
	float: right;
	background-color: pink;
	outline: 2px solid black;
	width: 200px;
}

#menu {
	background-color: #4169E1;
	height: 40px;
}	

#button {
	background-color: chocolate ;
	float:left;
	position: relative;
	border: 2px solid #000000;
	margin: 5px;
	padding: 4px 8px 2px 8px;
}
	

#left {
	float: left;
	height: 400px;
	width: 300px;
	display: inline-block;
}

#gandalf {
	height: 400px;
}

#main {
	background-color: lightblue;
	width: 100%;
	display: inline-block;
}

#mainbox {
	color: black;
	height:300px;
	text-align: center;
	margin: 50px 50px 50px 50px;
}


#friendBox {
	height: 380px;
	width: 250px;
	border-radius: 5px;
	background-color: #4169E1;
	display: inline-block;
	text-align: center;
	margin: 50px 50px 50px 50px;
}

#sadBox {
	border-radius: 5px;
	background-color: #4169E1;
	display: inline-block;
	text-align: center;
	margin: 20px;
    max-width: 300px;
    min-height: 350px;
}

#quoteBox {
	border-radius: 5px;
	background-color: #4169E1;
	padding: 30px;
	display: inline-block;
	text-align: center;
	margin: 50px 50px 50px 50px;	
}

#footer{
	padding-top: 1px;
	text-align: center;
	color: chocolate;
	clear: both;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 45px;
	background-color: darkorange;
}

body {
	background-color: #3c4543;
}

h1 {
	font-family: arial;
	padding-top: 25px;
	color: Moccasin;
}

h2 {
}

h3 {
	color: white;
	font-size: 28px;
}

ul {
	font-family: cursive
}

