/*><><><><><><><><><><><><> SITE LAYOUT <><><><><><><><><><><*/
.header {
    position: fixed;
    width: 100%;
    height: 200px;
    background: #EEEEEE;
    text-align: center;
    height: 50px;
    margin-top:-20px;
}

#home_button {
    margin-right: 18px;
    margin-top: 16px;
    float: right;
}

.navbar {
    background: #EEEEEE;
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 1.7em;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10pt;
}

.main_content {
    padding-top: 40px;
    position: static;
    left: 100pt;
    right: 100pt;
    margin: 1em 12em 0em 12em;
    min-width: 40em;
}

.link_box {
    width: 8em;
    border: 2px solid;
    border-radius: 1em;
    position: fixed;
    top: 10em;
    right: 3em;
}

.link_box p {
    text-align: center;
    padding: .5em 0em .5em 0em;
    margin: 0em;
}
/*><><><><><><><><><><><><><><><><> NAVBAR <><><><><><><><><><><><><><><><*/

.navbar {
    background: #EEEEEE;
    margin-top: -15px;
    position: fixed;
    height: 3.5em;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10pt;
    width: 100%
}

#my_name {
  width: 22%;
  float: left;
  text-align:center;
  font-size: 23px;
  height: 100%;
  vertical-align: middle;
  padding-top:.5em;
}

.page_name {
  height: 100%;
  width: 11%;
  float: left;
  text-align:center;
  border: 10em;

}

#current_page {
  background-color: lightgrey;
}

/*><><><><><><><><><><><><><><><><> EVERYTHING <><><><><><><><><><><><><><><><*/
body {
    background-color: white;
    font-family: Helvetica;
    font-size: 13px;
}

h1 {
    margin-top: 10px;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

h2 {
    font-size: 18pt;
    padding: 1em 0em 0em 0em;
    margin: 0em;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
    font-size: 18pt;
    padding: 1em 0em 0em 0em;
    margin: 0em;
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    font-family: Helvetica;
    padding: .5em 0em .5em 0em;
    margin: 0em;
    width: 100%;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    vertical-align: text-top;
    padding: 1em;
}

ol {
    font-size: 10pt;
}

ul {
    font-size: 11pt;

}

pre {
   margin: -.8em 0em -.8em 0em
 }

/*><><><><><><><><><><><><> MULTIPLE PAGES <><><><><><><><><><><*/

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 300px;
    }

/*><><><><><><><><><><><><><><><> INDEX: PROJECTS <><><><><><><><><><><><><><*/
.projects {
  background-color: #C0C0C0;
  margin-bottom: 35pt;
  padding-right: 35pt;
  height: 150pt;
}

#project_pic {
  float: left;
  width: 20%;
}

#project_text {
  float: right;
  width: 70%;
}

/*><><><><><><><><><><><><><><> INDEX: JUST FOR FUN <><><><><><><><><><><><><*/
DIV.justforfun {
    background-color: #C0C0C0;
    text-align: center;
    color: white;
    width: 100%;
    float: left;
    /* padding: 0%; */
    margin-bottom: 5%;
}

IMG.justforfun {
    width: 17%;
    padding: 1%;
  }


/*><><><><><><><><><><><><> BUTTON BOOP <><><><><><><><><><><*/
.screenshot_iPhone {
    width: 12em
}

/*><><><><><><><><><><><><> SHORT PROJECTS  <><><><><><><><><><><*/
#projectBox {
    background-color: lightgray;
    min-width: 100px;
    max-width: 600pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20pt;
    padding: 0px 20px 20px 20px;

}

/*><><><><><><><><><><><><> BACKGROUND STORY  <><><><><><><><><><><*/
#BackgroundBox {
    width: 500pt;
    margin-right: auto;
    margin-left: auto;
    background-color: #87CEFA;
    padding: 20pt;
    text-align: justified;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12pt;
}

#BackgroundBox img {
    width: 100%
}
